{% extends 'MyAppApBundle:ContratClient:voirLayout.html.twig' %}

{% block contrat %}
<h2>Reçu pour le {{ contrat.contratEstimation }}: {{ contrat.numero }}</h2>
{% endblock %}

{% block service %}

    
   Date de paiement:
   Contrat numéro:
   
   Services:
   Prix:
   TPS/TVQ:
   Total:
   
   Methode de paiement:
   Montant de la transaction:
   ID de la transaction:

{% endblock %}