{% extends 'MyAppApBundle::layout.html.twig' %}
{% block title %}Ajouter un contrat{% endblock %}

{% block content %}
<a href="{{ path('myapp_estimation_voirClient', { 'id': client.id }) }}">Retour fiche Client</a>

<form action="" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="image" src="{{ asset('bundles/myappap/images/add.png') }}" />
</form>

{% endblock %}